body{
      font-family: monospace;
    width:50%;
    margin:0;border:0;padding:0;
    background-color: #17202a ;
   margin:0 auto;
   color:	rgb(255,255,255);
   font-size: 12pt;
}
h6{
    font-size: 1.4em;
  
}
span{
    font-size: .6em;
}

.contenedor {
      background-color: #2c3e50;
}
#boton{
    box-sizing: border-box;
    width: 100%;
    height: 1.9%;
    background-color: #1b2631;
    color: #f1c40f;
    border:none;
    padding:1%;
}

#boton:hover{
   background-color: #f1c40f;
   color:#1b2631;
}
.fondo{
    width: 100%;
    height: 377px;
    background-color: #1c2833 ;
}

.linterna {
    width:78px;
    height: 78px;
    background-color:#0b5345;
    margin:0 auto;
     position:relative;
     top:149.5px;
}

.circulo1{   
    width: 77px;
    height: 77px;
    border-radius: 38.5px;
    background-color: #212f3d ;
    margin:0 auto;
}

.colorRojo,
.colorVerde,
.colorAzul,
.colorNegro{
    width: 76px;
    height: 76px;
    color:transparent;
    border-radius: 38px;
     position:absolute;
     top:0px;
    opacity:1;
}


#contador{
   visibility: visible;
   padding:2%;
}







